@import url(./general.css);

/* General Styles */

html,
body {
  scroll-behavior: smooth;
  background: var(--paper);
  color: var(--ink);
  font-family: var(--font);
}

html {
  scroll-padding: var(--scroll-padding, 80.475px);
}

body {
  background: linear-gradient(
      to left,
      rgba(149, 165, 166, 0.7),
      rgba(155, 129, 153, 0.5)
    ),
    url(./img/background.svg);
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  padding: 0 5%;
  background-color: #bdbdbd;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 128rem;
  width: 100%;
  flex-wrap: wrap;
}

.header__title {
  font-size: 4rem;
}

.header__nav ul {
  display: flex;
  list-style: none;
  gap: var(--gap);
}

.nav__link {
  font-weight: 600;
  padding: 1.2rem;
  text-decoration: none;
}

.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  color: var(--brand);
}

/* HERO */
.section-hero {
  padding: 4.4rem 0;
  min-height: 80vh;
}

.section-hero__content {
  max-width: var(--container);
  margin: 0 auto;
  padding: 6rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.section-hero__text {
  align-self: center;
  padding: 40px 80px;
  position: relative;
}

.section-hero__text::before,
.section-hero__text::after {
  content: "";
  height: 120px;
  width: 120px;
  position: absolute;
}

.section-hero__text::before {
  right: 0;
  top: 0;
  border-top: 32px solid var(--brand);
  border-right: 32px solid var(--brand);
  transform: translate(50%, -50%);
}

.section-hero__text::after {
  left: 0;
  bottom: 0;
  border-bottom: 32px solid var(--brand);
  border-left: 32px solid var(--brand);
  transform: translate(-50%, 50%);
}

.section-hero__title {
  font-size: 7.2rem;
}

.section-hero__subtitle {
  font-size: 2.4rem;
  font-weight: 500;
}

.section-hero__quote {
  margin-top: 4rem;
  display: flex;
  align-self: flex-end;
}

.section-hero__quote-text {
  font-size: 2.8rem;
  font-weight: 500;
}

.section-hero__quote-icon,
.section-hero__quote-icon--flip {
  width: 32px;
  height: 32px;
  color: var(--brand);
}

.section-hero__quote-icon--flip {
  transform: rotate(180deg);
}

.section-hero__contacts {
  margin-top: 9.6rem;
  margin-left: -6.8rem;
}

/* ABOUT */

.section-about {
  padding: 5.2rem 0;

  background-color: var(--paper);
  background-color: rgba(128, 151, 162, 0.3);
}

.section-about__content {
  margin: 0 auto;
  max-width: var(--container);
}

.section-about__title {
  font-size: 6rem;
  margin-bottom: 4.4rem;
}

.section-about__summary {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--gap);
  padding: 0 1.6rem;
}

.section-about__summary h3 {
  text-align: center;
  padding: 1.8rem 0;
}

.section-about__text {
  padding: 0 2.4rem;
}

.section-about__heading {
  font-size: 3.2rem;
  margin-bottom: 1.6rem;
}

/* Projects */

.section-projects {
  max-width: var(--container);
  margin: 0 auto 120px;
  /* max-height: 100vh; */
}

.hidden {
  display: none;
}

.projects-container {
  padding: 0 var(--gap);
}

.projects--btn-container {
  display: flex;
  justify-content: space-evenly;
}

.projects-btn {
  font-size: 16px;
  padding: 15px 10px;
  width: 180px;
  border-radius: 100px;
  transform: translateY(50%);
  border: none;
  background-color: var(--paperShade);
  color: var(--inkShade);
  transition: all 0.2s;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.9);
}

.projects-btn:active {
  transform: translateY(60%);
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.9);
}

.projects-btn:hover {
  background-color: var(--paperShade);
  /* background-color: #dbd8e9; */
}

.projects-btn--active {
  background-color: var(--brand);

  transform: translateY(35%);
  box-shadow: 0 20px 25px 0 rgba(0, 0, 0, 0.9);
  transition: all 0.3s;
}

.project--content-container {
  /* box-shadow: 0 0 10px #000; */
  border-radius: 12px;
  background-image: linear-gradient(to right, #e5ca93, #c9aa73);
  margin: 0 auto;
}

.project-card {
  display: none;
  opacity: 0;
  padding: 50px;
  margin: 0 auto;
  transition: all 0.3s;
}

.project-card--active {
  display: block;
  opacity: 1;
  /* transition: all 0.3s; */
}

.project-summary {
  display: flex;
  gap: 20px;
  max-height: 180px;
  background-color: var(--accent);
  border-radius: 12px;
  overflow: hidden;
  margin-top: 20px;
  /* box-shadow: 0 0 20px 10px rgba(190, 189, 194, 0.5); */
}

.project-information {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.project-information p {
  margin: 8px 0;
}

.project-img {
  display: block;
  width: 320px;
  height: 180px;
}

.project-links {
  /* justify-self: flex-end; */
  display: flex;
  justify-content: center;
  gap: var(--gap);
  list-style: none;
  margin-top: 60px;
}

.project-link {
  color: var(--ink);
  display: flex;
  text-decoration: none;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 192px;
  height: 48px;
  border-radius: 100px;
  background-color: var(--accent);
}

.project-link--view {
  background-color: var(--brand);
}

/* CONTACT */

.section-contact {
  /* border-top: 1px solid var(--accent); */
  background-color: #bdbdbd;
}

.section-contact__contacts {
  max-width: var(--container);
  margin: 0 auto;
  padding: 2.4rem;
  text-align: center;
  background-color: #fff;
}

.contacts {
  display: inline-block;
  padding: 2rem 4rem;
  border: 4px solid var(--paperShade);
  background-color: rgba(128, 151, 162, 0.6);
  border-radius: 8px;
  position: relative;
}

.contacts__links {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  list-style: none;
}

.contacts__link {
  color: var(--ink);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 6px;
  background-color: var(--accent);
  background-color: var(--brandTint);
}

/* Footer */
.footer * {
  margin: 0;
  color: var(--brand);
}
.footer {
  background-color: var(--ink);
  padding: var(--gap);
}

.footer-container {
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
}

.read-me {
  display: flex;
  align-items: center;
  gap: 20px;
}

.read-me-link {
  text-decoration: none;
  color: inherit;
}

.read-me-text {
  font-size: 18px;
  text-transform: uppercase;
}
